.SusButton {
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    border-color: white;
    font-size: 40px;
    height: 100px;
    width: 125px;
}
.SusText {
    color: red;
    font-size: 20px;
}