body {
    font-family: Arial, Helvetica, sans-serif;
}
.SusButton {
    background-color: rgb(0,0,0);
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
    height: 100px;
    width: 125px;
}
.SusText {
    color: red;
    font-size: 20px;
}
.AmogusText {
    color: darkred;
    font-size: 20px;
}
.RestartButton {
    background-color: red;
    color: black;
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
    height: 40px;
    width: 80px;
}