body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-color: greenyellow;
    background-color: black;
    color: white;
}
.SusButton {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
    height: 100px;
    width: 120px;
}
.SusText {
    color: red;
    font-size: 20px;
}
.AmogusText {
    color: red;
    font-size: 20px;
}
.RestartButton {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
    height: 40px;
    width: 80px;
}
.SelectButton1 {
    background-color: greenyellow;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 8px;
    height: 50px;
    width: 60px;
}
.SelectButton2 {
    background-color: lightskyblue;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 8px;
    height: 50px;
    width: 60px;
}
